@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
        url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Montserrat';
  line-height: 1.3rem;
}

svg {
  height: 100%;
  width: 100%;
}

.button {
  @apply w-full mb-2 flex items-center justify-center text-white bg-theme;
}

.button:hover {
  @apply bg-theme-dark;
}